*{
    margin: 0;
    padding: 0;
}

.main {
    margin: 20px;
    padding: 20px;
    display: grid;
}
.chessRow{
    display: flex;
}

.bishop {
    width: 30px;
    height: 30px;
    background-image: url(/resources/img/bishop.png);
    background-size: 100%;
    background-position: 50% 50%;
}

.rook {
    width: 30px;
    height: 30px;
    background-image: url(/resources/img/rook.png);
    background-size: 100%;
    background-position: 50% 50%;
}

.horse {
    width: 30px;
    height: 30px;
    background-image: url(/resources/img/knight.png);
    background-size: 100%;
    background-position: 50% 50%;
}

.white {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid rgb(119, 114, 107);
}

.black {
    width: 80px;
    height: 80px;
    background-color: rgb(127, 129, 127);
}

.draw {
    width: 10px;
    height: 10px;
    border: 10px solid black;
    border-radius: 10px;
    background-color: brown;
}

.pieces div:first-child {
    background-color: blue;
    padding: 5px;
}

.selected {
    background-color: blue;
}