*{
    margin: 0;
    padding: 0;
}

.main {
    width: 400px;
    height: 400px;
    margin: 50px;
    align-items:  center;
    border: 2px solid rgb(128, 83, 81);
}
.chess-matrix {
    display: grid;
    align-items: center;
}
.chess-row {
    display: table-row;
}

.bishop {
    width: 30px;
    height: 30px;
}

.tower {
    width: 30px;
    height: 30px;
}

.horse {
    width: 30px;
    height: 30px;
}

.white {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(119, 114, 107);
}

.black {
    width: 50px;
    height: 50px;
    background-color: black;
    border: 1px solid rgb(119, 114, 107);
}

.draw {
    width: 10px;
    height: 10px;
    border: 10px solid black;
    border-radius: 10px;
    background-color: brown;
}